<% if @property.errors.any? %>
  <p>エラーが<%= @property.errors.count %>　件あります。</p>
  <% @property.errors.full_messages.each do |msg| %>
    <%= msg %><br>
  <% end %>
<% end %><br>
<% count=1 %>
<%= form_with(model: property, local:true)do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :price %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :age %>
  <%= f.hidden_field :note %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :price %><br>
  <%= f.text_field :price %>円<br>
  <%= f.label :age %><br>
  <%= f.text_field :age %>年<br>
  <%= f.label :address %><br>
  <%= f.text_field :address %><br>
  <%= f.label :note %><br>
  <%= f.text_area :note %><br>
<hr>
  <%= f.fields_for :stations do |ff| %>
      <h3>最寄り駅<%= count %></h3>
      <%= ff.label :line %><br>
      <%= ff.text_field :line %><br>
      <%= ff.label :station_name %><br>
      <%= ff.text_field :station_name %><br>
      <%= ff.label :minute %><br>
      <%= ff.text_field :minute %><p>分</p><br>
      <% count += 1 %>
  <% end %>
  <%= f.submit %>
<% end %>
