<h1>物件一覧</h1>
<table>
  <thead class="table">
    <tr>
      <th class="name">物件名</th>
      <th class="price">賃料</th>
      <th class="address">住所</th>
      <th calss="age">築年数</th>
      <th class="note">詳細</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
    <tr>
        <td class="name"><%= property.name %></td>
        <td class="price"><%= comma_separater(property.price) %><br>円</td>
        <td class="address"><%= property.address %></td>
        <td class="age"><%= property.age %><br>年</td>
        <td class="note"><%= property.note %></td>
        <td><%= link_to %(詳細), property_path(property.id) %></td>
        <td><%= link_to %(編集), edit_property_path(property.id) %></td>
        <td><%= link_to %(削除),property_path(property.id), method: :delete, data: {confirm: %(本当に削除しますか。)} %></td>
    </tr>
    <% end %>
  </tbody>
</table><br><br>
<%= link_to '物件を登録する', new_property_path %>
